body {
	font-family:Tahoma, Geneva, sans-serif;
	background-image: url(../images/background.jpg);
	background-repeat:no-repeat;
	margin: 0 auto;
}

#header {
	background-image: url(../images/title.png);
	background-repeat:no-repeat;
	background-position: center;
	height: 50px;
	margin:0 auto;
}

#content-wrapper {
	min-height:90%;
}

#content {
	height: 520px;
	width: 520px;
	padding:0px;
	min-height:100%;
	margin:0 auto;
}

#game {
	margin: 0 auto;
	width:520px;
	height:520px;
	background-image: url(../images/panel_dots.png);
	background-size: 520px 420px;
	background-repeat:no-repeat;
	background-position: center bottom;
	//z-index: 9;
}

#gameScores {
	margin-top: 20px;
	width:520px;
	height:85x;
	//margin: 0 auto;
}

#highScores>ol{
	position: relative;
	top: 200px;
	left: 130px;
}


h1.score {
	font-size:3em;
	font-col:3em;
	margin:0;
}

#divHighScores{
	width: 210px;
    text-align: center;
	color:#EFFFFA;
	vertical-align: middle;
	vertical-align: -webkit-baseline-middle;
	margin:0 auto;
	position: relative;
}

#divRood{
	float : right;
	color:#d32829;
	position: relative;
}

#divGeel{
	float : left;
	color:#fdcc09;
	position: relative;
}

#scoreRood {
	color:#d32829;
	float: right;
}
#scoreGeel {
	color:#fdcc09;
	float: left;
}


#highScores{
	background-image: url(../images/top10Bg.png);
	height: 700px;
	width: 720px;
	margin:0 auto;
	//z-index: 10;
	background-repeat:no-repeat;
	background-position: center;
	vertical-align: middle;
	color: #ffffff;
	font-size:2em;
	font-family: "arial,sans-serif";
	position: relative;
}

#gameOver {
	height: 800px;
	width: 726px;
	margin:0 auto;
	//z-index: 10;
	background-repeat:no-repeat;
	background-position: center;
	vertical-align: middle;
}

.roodWins {
	background-image: url(../images/gameOver-rood.png);
}
.geelWins {
	background-image: url(../images/gameOver-geel.png);
}
.nobodyWins {
	background-image: url(../images/gameOver.png);
}




/* Alertify \*/
.btn {
  background: #636a4e;
  background-image: -webkit-linear-gradient(top, #636a4e, #636a4e);
  background-image: -moz-linear-gradient(top, #636a4e, #636a4e);
  background-image: -ms-linear-gradient(top, #636a4e, #636a4e);
  background-image: -o-linear-gradient(top, #636a4e, #636a4e);
  background-image: linear-gradient(to bottom, #636a4e, #636a4e);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 20px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #98ab60;
  background-image: -webkit-linear-gradient(top, #98ab60, #98ab60);
  background-image: -moz-linear-gradient(top, #98ab60, #98ab60);
  background-image: -ms-linear-gradient(top, #98ab60, #98ab60);
  background-image: -o-linear-gradient(top, #98ab60, #98ab60);
  background-image: linear-gradient(to bottom, #98ab60, #98ab60);
  text-decoration: none;
}





/* Cirkels \*/
.group:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.group { display: inline-block; }

* html .group { height: 1%; }
.group { display: block; }

.circle {
  height: 100px;
  width: 100px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  background: yellow;
}
.circle>span{
	vertical-align: -webkit-baseline-middle;
	position: relative;
	top: 12px;

	font-family: 'Corben', Georgia, Times, serif;
    font-size: 40px;
    line-height: 55px;
	color: #d9e021;
}

.circles div { 
	top:35px; 
	background: #ccc; 
	width: 80px; 
	height: 80px; 
	float: left; 
	-moz-border-radius: 40px; 
	-webkit-border-radius: 40px; 
	border-radius: 40px; 
}

.circles div:nth-child(5n) { background: #FF9900; }
.circles div:nth-child(5n+1) { background: #424242; }
.circles div:nth-child(5n+2) { background: #E9E9E9; }
.circles div:nth-child(5n+3) { background: #BCBCBC; }
.circles div:nth-child(5n+4) { background: #3299BB; }

.circles div:nth-child(10n) { left: 240px; }
.circles div:nth-child(11n) { left: 240px; }
.circles div:nth-child(12n) { left: 240px; }


#game .top-row {
	height:100px;
	width:545px;
	position:relative;
}

#game .column {
	width:72px;
	height:420px;
	float:left;
	position:relative
}


#game .firstCol { 
	margin-left: 10px;
}

#game .cube {
	height:50px;
	width:50px;
	position:absolute;
	left:10px;
	top:10px;
	//z-index: 8;
	//opacity: .99;
}

#introCube .rood {
	background:url(../images/redCube.png);

}

#introCube .geel {
	background:url(../images/yellowCube.png);
}

#game .rood {
	background:url(../images/redCube.png);
	background-size :50px 50px;
	background-repeat: no-repeat;
}

#game .geel {
	background:url(../images/yellowCube.png);
	background-size :50px 50px;
	background-repeat: no-repeat;
}


#game .row1 {
	top:-5px;
}

#game .row2 {
	top:70px;
}

#game .row3 {
	top:145px;
}

#game .row4 {
	top:215px;
}

#game .row5 {
	top:285px;
}

#game .row6 {
	top:356px;
}






























/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px), only screen and (min-width : 1824px),
/* iPads (landscape) ----------- */
only screen and (min-device-width : 768px) and (max-device-width : 1024px) 
{

	#intro {
		background-image: url(../images/intro.png);
		background-repeat:no-repeat;
		background-position: center;
		vertical-align: middle;
		height: 900px;
		width: 726px;
		margin: 0 auto;
	}
	#header {
		background-image: url(../images/title.png);
		background-repeat:no-repeat;
		background-position: center;
		//background-size:500px 100px;
		height: 50px;
		margin:0 auto;
	}

	#content {
		height: 540px;
		width: 545px;
		padding:0px;
		min-height:100%;
		margin:0 auto;
	}

	#gameContainer {
		height: 550px;
		width: 545px;
	}

	#game {
		margin: 0 auto;
		width:525px;
		height:525px;
		background-image: url(../images/panel_dots.png);
		background-size: 525px 450px;
		background-repeat:no-repeat;
		background-position: center bottom;
		z-index: 9;
	}
	
	#highScores{
		background-image: url(../images/top10Bg.png);
		height: 700px;
		width: 726px;
		margin:0 auto;
		z-index: 10;
		background-repeat:no-repeat;
		background-position: center;
		vertical-align: middle;
		color: #ffffff;
		//font-size: 30px;
		font-size:2em;
		font-family: "arial,sans-serif";
	}


	.circle {
	  height: 100px;
	  width: 100px;
	  display: table-cell;
	  text-align: center;
	  vertical-align: middle;
	  border-radius: 50%;
	  background: yellow;
	}
	.circle>span{
		vertical-align: -webkit-baseline-middle;
		position: relative;
		top: 13px;

		font-family: 'Corben', Georgia, Times, serif;
	    font-size: 3em;
	    line-height: 55px;
		color: #d9e021;
	}

	.circles div { 
		top:35px; 
		background: #ccc; 
		width: 80px; 
		height: 80px; 
		float: left; 
		-moz-border-radius: 40px; 
		-webkit-border-radius: 40px; 
		border-radius: 40px; 
	}
}









/* iPhone 5 / Smartphones (portrait) ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), 
only screen and (min-device-pixel-ratio : 1.5),
only screen and (max-width : 320px),
only screen and (min-device-width : 320px) and (max-device-width : 480px)
{
	#intro {
		background-image: url(../images/intro_small.png);
		background-repeat:no-repeat;
		background-position: center;
		vertical-align: middle;
		width: 300px;
		height: 600px;
		margin: 0 auto;
	}

	#header {
		background-image: url(../images/title.png);
		background-repeat:no-repeat;
		background-position: center;
		background-size:260px 50px;
		height: 50px;
		margin:0 auto;
	}

	#content-wrapper {
		min-height:90%;
    	width: 320px;
    	height: 560px;
	}

	#content {
		width: 320px;
		height: 560px;
		padding:0px;
		min-height:100%;
		margin:0 auto;
	}


	#gameContainer {
		width: 320px;
		height: 560px;
	}


	#game {
		margin: 0 auto;
		width: 320px;
		height: 380px;
		background-image: url(../images/panel_dots.png);
		background-size: 320px 320px;
		background-repeat:no-repeat;
		background-position: center bottom;
		z-index: 9;
	}

	#game .top-row {
		width: 320px;
		height: 60px;
		position:relative;
	}

	#game .column {
		width:44px;
		height:325px;
		float:left;
		position:relative
	}


	#game .firstCol { 
		margin-left: 10px;
	}

	#game .cube {
		height:35px;
		width:35px;
		position:absolute;
		left:2px;
		top:0px;
		z-index: 8;
		//opacity: .99;
	}

	#game .rood {
		background-size :35px 35px;
	}

	#game .geel {
		background-size :35px 35px;
	}


	#game .row1 {
		top:25px;
	}

	#game .row2 {
		top:75px;
	}

	#game .row3 {
		top:125px;
	}

	#game .row4 {
		top:175px;
	}

	#game .row5 {
		top:225px;
	}

	#game .row6 {
		top:275px;
	}


	#gameScores {
		margin-top: 20px;
		width:320px;
		height:100px;
		margin: 0 auto;
		margin-top: 20px;
	}

	#divHighScores{
		width: 140px;
	    text-align: center;
		color:#EFFFFA;
		vertical-align: middle;
		vertical-align: -webkit-baseline-middle;
		margin:0 auto;
	}

	#highScores{
		background-image: url(../images/top10Bg_small.png);
		width: 320px;
		height: 500px;
		margin:0 auto;
		z-index: 10;
		background-repeat:no-repeat;
		background-position: center top;
		vertical-align: middle;
		color: #ffffff;
		font-size: 1.2em;
		font-family: "arial,sans-serif";
	}

	h1.score {
		font-size:2em;
		margin:0 auto;
	}

	#highScores>ol{
		top: 110px;
		left: 10px;
	}


	

	.circle {
	  height: 20px;
	  width: 20px;
	  display: table-cell;
	  text-align: center;
	  vertical-align: middle;
	  border-radius: 50%;
	  background: yellow;
	}
	.circle>span{
		vertical-align: -webkit-baseline-middle;
		position: relative;
		top: 2px;
		font-family: 'Corben', Georgia, Times, serif;
	    font-size: 1.1em;
	    line-height: 12px;
		color: #d9e021;
	}
	.circles div { 
		top:0px; 
		background: #ccc; 
		width: 33px; 
		height: 33px; 
		float: left; 
		-moz-border-radius: 40px; 
		-webkit-border-radius: 40px; 
		border-radius: 40px; 
	}

	.circles div:nth-child(10n) { left: 100px; }
	.circles div:nth-child(11n) { left: 100px; }
	.circles div:nth-child(12n) { left: 100px; }

	/* Alertify \*/
	.btn {
	  -webkit-border-radius: 28;
	  -moz-border-radius: 28;
	  border-radius: 20px;
	  font-family: Arial;
	  color: #ffffff;
	  font-size: 16px;
	  padding: 5px 10px 5px 10px;
	  text-decoration: none;
	}

	.btn:hover {
	  text-decoration: none;
	}

}


/* iPhone 4 ----------- */
@media screen and (device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)
{
	#gameScores {
		height:80px;
		margin: 0 auto;
		margin-top: 0px;
	}

	/* Alertify \*/
	.btn {
	  font-size: 13px;
	  padding: 6px 10px 10px 10px;
	  text-decoration: none;
	}

}










